<!--<div class="usereditPage">
  <div class="titleArea">
    <h1>アカウント名を編集</h1>
  </div>
  <div class="container">
    <%= form_with model: @user, url: {action: :update}, html: {class: "usereditForm" }, local: true do |f| %>-->
      <!--<%= devise_error_messages! %>-->
<!--      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください"%>
      </div>
      <div class="text-center">
        <%= f.submit "アカウント名を編集", class: "btn submitBtn" %>
    </div>
  <% end %>
</div>-->
